@import "variables";
@import "mixins";

// BODY elements
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1em;
  background-color: #fff;

  animation: fake 1s infinite;
}

// TAB elements
.tabs-header {
  padding-top: 10px;
  padding-left: 10px;
  // create css color gradient
  @include linearGradient($header-top-blue, $header-bottom-blue);
  border-left: none;
}

.tab-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-sub-content {
  img {
    border: 5px solid $tab-img-border;
  }

  h3 {
    color: $tab-header;
  }

  hr {
    color: $tab-separator;
  }

  p.tab-sub-content_text {
    visibility: visible;
  }
}

.footer-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.radio-tabs .state {
  position: absolute;
  left: -10000px;
}

.radio-tabs .tab {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: bottom;

  background-color: $tab-not-selected;
  border-bottom: .1em solid $tab-header;

  font-size: 10pt;
  color: #fff;
  cursor: hand;
  cursor: pointer;

  &:first-child {
    margin-right: 0;
  }
  &:last-child {
    margin-left: -.2em;
  }
}

.radio-tabs .tab:hover {
  background-color: #fff;
  color: #000;
}

#aktuelles[aria-selected] ~ .tabs #aktuelles-tab,
#veranstaltungen[aria-selected] ~ .tabs #veranstaltungen-tab,
#aktuelles-tab:checked ~ .tabs #aktuelles-tab,
#veranstaltungen:checked ~ .tabs #veranstaltungen-tab {
  background-color: #fff;
  border-bottom: .1em solid #fff;
  cursor: default;

  font-weight: bold;
  color: #000;

  padding-left: .6em;
  padding-right: .6em;
  padding-top: .4em;
  padding-bottom: .4em;
}

.radio-tabs .panels {
  background-color: #fff;
  padding: .5em;

  border-left: 5px solid $tab-separator;
  border-right: 5px solid $tab-separator;
  border-bottom: 5px solid $tab-separator;
  margin-bottom: 10px;
}

.radio-tabs .panel {
  display: none;
}

#aktuelles[aria-selected] ~ .panels #aktuelles-panel,
#veranstaltungen[aria-selected] ~ .panels #veranstaltungen-panel,
#aktuelles:checked ~ .panels #aktuelles-panel,
#veranstaltungen:checked ~ .panels #veranstaltungen-panel {
  display: block;
}

li.tab-sub-content {
  &:after {
    content: "";
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid $tab-separator;
    margin: 0 -10px 5px;
    width: 110%;
  }
}

// TEXT elements
p {
  &.date {
    font-size: 10pt;
    font-weight: 500;
    padding-bottom: .5%;
  }

  &.article-subtitle {
    padding-bottom: 1%;
  }
}

h3.article-title {
  padding-bottom: 2%;
}

a[class^=more-], a.footer-text {
  &::before {
    content: '\003e';
    color: $tab-header;
    font-weight: 900;
  }

  text-decoration: none;
  color: #000;
  margin-bottom: 2%;
  font-weight: bold;
}

a.footer-text {
  font-weight: bold;
  margin-top: 2%;
  margin-right: 2%;
}