// responsive design media queries
@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 65em;
  }

  .column-1 {
    width: 8.33333%;
  }
  .column-2 {
    width: 16.66667%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33333%;
  }
  .column-5 {
    width: 41.66667%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33333%;
  }
  .column-8 {
    width: 66.66667%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33333%;
  }
  .column-11 {
    width: 91.66667%;
  }
  .column-12 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

// responsive design for extra-small viewport(<=320px) e.g. iPhone5
@media screen and (max-width: 320px) {
  .column-xs-1 {
    width: 8.33333%;
  }
  .column-xs-2 {
    width: 16.66667%;
  }
  .column-xs-3 {
    width: 25%;
  }
  .column-xs-4 {
    width: 33.33333%;
  }
  .column-xs-5 {
    width: 41.66667%;
  }
  .column-xs-6 {
    width: 50%;
  }
  .column-xs-7 {
    width: 58.33333%;
  }
  .column-xs-8 {
    width: 66.66667%;
  }
  .column-xs-9 {
    width: 75%;
  }
  .column-xs-10 {
    width: 83.33333%;
  }
  .column-xs-11 {
    width: 91.66667%;
  }
  .column-xs-12 {
    width: 100%;
  }

  h3 {
    font-size: 12pt;
  }

  a, p {
    font-size: 10pt;
  }

  img {
    width: 100%;
  }

  .tab-image {
    flex-basis: 100%;
  }
  .tab-text {
    flex-basis: 100%;
  }
}

// responsive design for small device (<=479px)
@media screen and (min-width: 321px) and (max-width: 479px) {
  .column-s-1 {
    width: 8.33333%;
  }
  .column-s-2 {
    width: 16.66667%;
  }
  .column-s-3 {
    width: 25%;
  }
  .column-s-4 {
    width: 33.33333%;
  }
  .column-s-5 {
    width: 41.66667%;
  }
  .column-s-6 {
    width: 50%;
  }
  .column-s-7 {
    width: 58.33333%;
  }
  .column-s-8 {
    width: 66.66667%;
  }
  .column-s-9 {
    width: 75%;
  }
  .column-s-10 {
    width: 83.33333%;
  }
  .column-s-11 {
    width: 91.66667%;
  }
  .column-s-12 {
    width: 100%;
  }

  h3 {
    font-size: 10pt;
  }

  a, p {
    font-size: 9pt;
  }

  .tab-image {
    flex-basis: 40%;
  }
  .tab-text {
    flex-basis: 60%;
  }

  img {
    width: 100%;
  }

}

// responsive design for phablet (<=600px)
@media screen and (min-width: 480px) and (max-width: 600px) {
  .column-m-1 {
    width: 8.33333%;
  }
  .column-m-2 {
    width: 16.66667%;
  }
  .column-m-3 {
    width: 25%;
  }
  .column-m-4 {
    width: 33.33333%;
  }
  .column-m-5 {
    width: 41.66667%;
  }
  .column-m-6 {
    width: 50%;
  }
  .column-m-7 {
    width: 58.33333%;
  }
  .column-m-8 {
    width: 66.66667%;
  }
  .column-m-9 {
    width: 75%;
  }
  .column-m-10 {
    width: 83.33333%;
  }
  .column-m-11 {
    width: 91.66667%;
  }
  .column-m-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 30%;
  }
  .tab-text {
    flex-basis: 70%;
  }
}

// responsive design for tablet (<=768px)
@media screen and (min-width: 601px) and (max-width: 768px) {
  .column-t-1 {
    width: 8.33333%;
  }
  .column-t-2 {
    width: 16.66667%;
  }
  .column-t-3 {
    width: 25%;
  }
  .column-t-4 {
    width: 33.33333%;
  }
  .column-t-5 {
    width: 41.66667%;
  }
  .column-t-6 {
    width: 50%;
  }
  .column-t-7 {
    width: 58.33333%;
  }
  .column-t-8 {
    width: 66.66667%;
  }
  .column-t-9 {
    width: 75%;
  }
  .column-t-10 {
    width: 83.33333%;
  }
  .column-t-11 {
    width: 91.66667%;
  }
  .column-t-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 30%;
  }
  .tab-text {
    flex-basis: 70%;
  }
}

// responsive design for desktop (768px<x<1060px)
@media screen and (min-width: 769px) and (max-width: 1060px) {
  .column-l-1 {
    width: 8.33333%;
  }

  .column-l-2 {
    width: 16.66667%;
  }

  .column-l-3 {
    width: 25%;
  }

  .column-l-4 {
    width: 33.33333%;
  }

  .column-l-5 {
    width: 41.66667%;
  }

  .column-l-6 {
    width: 50%;
  }

  .column-l-7 {
    width: 58.33333%;
  }

  .column-l-8 {
    width: 66.66667%;
  }

  .column-l-9 {
    width: 75%;
  }

  .column-l-10 {
    width: 83.33333%;
  }

  .column-l-11 {
    width: 91.66667%;
  }

  .column-l-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 45%;
  }
  .tab-text {
    flex-basis: 55%;
  }
}

// responsive design for large viewport (>1060)
@media screen and (min-width: 1061px) {
  .column-xl-1 {
    width: 8.33333%;
  }
  .column-xl-2 {
    width: 16.66667%;
  }
  .column-xl-3 {
    width: 25%;
  }
  .column-xl-4 {
    width: 33.33333%;
  }
  .column-xl-5 {
    width: 41.66667%;
  }
  .column-xl-6 {
    width: 50%;
  }
  .column-xl-7 {
    width: 58.33333%;
  }
  .column-xl-8 {
    width: 66.66667%;
  }
  .column-xl-9 {
    width: 75%;
  }
  .column-xl-10 {
    width: 83.33333%;
  }
  .column-xl-11 {
    width: 91.66667%;
  }
  .column-xl-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 35%;
  }
  .tab-text {
    flex-basis: 65%;
  }
}