// Colours
// generic
$black : #000;

// element-specific-colours
$header-top-blue: #2c82cd;
$header-bottom-blue: #2976ba;

// tabs
$tab-img-border: #d9d9d9;
$tab-header:#2d83ce;
$tab-separator: #dadada;
$tab-not-selected: #94bfe2;