body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1em;
  background-color: #fff;
  animation: fake 1s infinite;
}

.tabs-header {
  padding-top: 10px;
  padding-left: 10px;
  background: #2c82cd;
  background: -moz-linear-gradient(top, #2c82cd 0%, #2976ba 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c82cd), color-stop(100%, #2976ba));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c82cd 0%, #2976ba 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c82cd 0%, #2976ba 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c82cd 0%, #2976ba 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2c82cd 0%, #2976ba 100%);
  /* W3C */
  border-left: none;
}

.tab-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-sub-content img {
  border: 5px solid #d9d9d9;
}
.tab-sub-content h3 {
  color: #2d83ce;
}
.tab-sub-content hr {
  color: #dadada;
}
.tab-sub-content p.tab-sub-content_text {
  visibility: visible;
}

.footer-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.radio-tabs .state {
  position: absolute;
  left: -10000px;
}

.radio-tabs .tab {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: bottom;
  background-color: #94bfe2;
  border-bottom: 0.1em solid #2d83ce;
  font-size: 10pt;
  color: #fff;
  cursor: hand;
  cursor: pointer;
}
.radio-tabs .tab:first-child {
  margin-right: 0;
}
.radio-tabs .tab:last-child {
  margin-left: -.2em;
}

.radio-tabs .tab:hover {
  background-color: #fff;
  color: #000;
}

#aktuelles[aria-selected] ~ .tabs #aktuelles-tab,
#veranstaltungen[aria-selected] ~ .tabs #veranstaltungen-tab,
#aktuelles-tab:checked ~ .tabs #aktuelles-tab,
#veranstaltungen:checked ~ .tabs #veranstaltungen-tab {
  background-color: #fff;
  border-bottom: .1em solid #fff;
  cursor: default;
  font-weight: bold;
  color: #000;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .4em;
  padding-bottom: .4em;
}

.radio-tabs .panels {
  background-color: #fff;
  padding: .5em;
  border-left: 5px solid #dadada;
  border-right: 5px solid #dadada;
  border-bottom: 5px solid #dadada;
  margin-bottom: 10px;
}

.radio-tabs .panel {
  display: none;
}

#aktuelles[aria-selected] ~ .panels #aktuelles-panel,
#veranstaltungen[aria-selected] ~ .panels #veranstaltungen-panel,
#aktuelles:checked ~ .panels #aktuelles-panel,
#veranstaltungen:checked ~ .panels #veranstaltungen-panel {
  display: block;
}

li.tab-sub-content:after {
  content: "";
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #dadada;
  margin: 0 -10px 5px;
  width: 110%;
}

p.date {
  font-size: 10pt;
  font-weight: 500;
  padding-bottom: .5%;
}
p.article-subtitle {
  padding-bottom: 1%;
}

h3.article-title {
  padding-bottom: 2%;
}

a[class^=more-], a.footer-text {
  text-decoration: none;
  color: #000;
  margin-bottom: 2%;
  font-weight: bold;
}
a[class^=more-]::before, a.footer-text::before {
  content: '\003e';
  color: #2d83ce;
  font-weight: 900;
}

a.footer-text {
  font-weight: bold;
  margin-top: 2%;
  margin-right: 2%;
}

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 65em;
  }

  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .column-xs-1 {
    width: 8.33333%;
  }

  .column-xs-2 {
    width: 16.66667%;
  }

  .column-xs-3 {
    width: 25%;
  }

  .column-xs-4 {
    width: 33.33333%;
  }

  .column-xs-5 {
    width: 41.66667%;
  }

  .column-xs-6 {
    width: 50%;
  }

  .column-xs-7 {
    width: 58.33333%;
  }

  .column-xs-8 {
    width: 66.66667%;
  }

  .column-xs-9 {
    width: 75%;
  }

  .column-xs-10 {
    width: 83.33333%;
  }

  .column-xs-11 {
    width: 91.66667%;
  }

  .column-xs-12 {
    width: 100%;
  }

  h3 {
    font-size: 12pt;
  }

  a, p {
    font-size: 10pt;
  }

  img {
    width: 100%;
  }

  .tab-image {
    flex-basis: 100%;
  }

  .tab-text {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .column-s-1 {
    width: 8.33333%;
  }

  .column-s-2 {
    width: 16.66667%;
  }

  .column-s-3 {
    width: 25%;
  }

  .column-s-4 {
    width: 33.33333%;
  }

  .column-s-5 {
    width: 41.66667%;
  }

  .column-s-6 {
    width: 50%;
  }

  .column-s-7 {
    width: 58.33333%;
  }

  .column-s-8 {
    width: 66.66667%;
  }

  .column-s-9 {
    width: 75%;
  }

  .column-s-10 {
    width: 83.33333%;
  }

  .column-s-11 {
    width: 91.66667%;
  }

  .column-s-12 {
    width: 100%;
  }

  h3 {
    font-size: 10pt;
  }

  a, p {
    font-size: 9pt;
  }

  .tab-image {
    flex-basis: 40%;
  }

  .tab-text {
    flex-basis: 60%;
  }

  img {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  .column-m-1 {
    width: 8.33333%;
  }

  .column-m-2 {
    width: 16.66667%;
  }

  .column-m-3 {
    width: 25%;
  }

  .column-m-4 {
    width: 33.33333%;
  }

  .column-m-5 {
    width: 41.66667%;
  }

  .column-m-6 {
    width: 50%;
  }

  .column-m-7 {
    width: 58.33333%;
  }

  .column-m-8 {
    width: 66.66667%;
  }

  .column-m-9 {
    width: 75%;
  }

  .column-m-10 {
    width: 83.33333%;
  }

  .column-m-11 {
    width: 91.66667%;
  }

  .column-m-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 30%;
  }

  .tab-text {
    flex-basis: 70%;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .column-t-1 {
    width: 8.33333%;
  }

  .column-t-2 {
    width: 16.66667%;
  }

  .column-t-3 {
    width: 25%;
  }

  .column-t-4 {
    width: 33.33333%;
  }

  .column-t-5 {
    width: 41.66667%;
  }

  .column-t-6 {
    width: 50%;
  }

  .column-t-7 {
    width: 58.33333%;
  }

  .column-t-8 {
    width: 66.66667%;
  }

  .column-t-9 {
    width: 75%;
  }

  .column-t-10 {
    width: 83.33333%;
  }

  .column-t-11 {
    width: 91.66667%;
  }

  .column-t-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 30%;
  }

  .tab-text {
    flex-basis: 70%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1060px) {
  .column-l-1 {
    width: 8.33333%;
  }

  .column-l-2 {
    width: 16.66667%;
  }

  .column-l-3 {
    width: 25%;
  }

  .column-l-4 {
    width: 33.33333%;
  }

  .column-l-5 {
    width: 41.66667%;
  }

  .column-l-6 {
    width: 50%;
  }

  .column-l-7 {
    width: 58.33333%;
  }

  .column-l-8 {
    width: 66.66667%;
  }

  .column-l-9 {
    width: 75%;
  }

  .column-l-10 {
    width: 83.33333%;
  }

  .column-l-11 {
    width: 91.66667%;
  }

  .column-l-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 45%;
  }

  .tab-text {
    flex-basis: 55%;
  }
}
@media screen and (min-width: 1061px) {
  .column-xl-1 {
    width: 8.33333%;
  }

  .column-xl-2 {
    width: 16.66667%;
  }

  .column-xl-3 {
    width: 25%;
  }

  .column-xl-4 {
    width: 33.33333%;
  }

  .column-xl-5 {
    width: 41.66667%;
  }

  .column-xl-6 {
    width: 50%;
  }

  .column-xl-7 {
    width: 58.33333%;
  }

  .column-xl-8 {
    width: 66.66667%;
  }

  .column-xl-9 {
    width: 75%;
  }

  .column-xl-10 {
    width: 83.33333%;
  }

  .column-xl-11 {
    width: 91.66667%;
  }

  .column-xl-12 {
    width: 100%;
  }

  .tab-image {
    flex-basis: 35%;
  }

  .tab-text {
    flex-basis: 65%;
  }
}
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=main.css.map */
